echo node_modules/ > .gitignore
echo .env >> .gitignore
echo .next/ >> .gitignore
echo dist/ >> .gitignore
echo build/ >> .gitignore
echo "*.log" >> .gitignore
echo backend/.dockerignore >> .gitignore
echo backend/Dockerfile >> .gitignore
echo backend/render.yaml >> .gitignore